configuration {
    /* Basic */
    modi: "drun";
    show-icons: true;
    icon-theme: "Papirus-Dark";

    /* Drun */
    drun-display-format: "{name}";
    drun-match-fields: "name,generic,exec,categories,keywords";

    /* Search */
    case-sensitive: false;
    matching: "normal";
    tokenize: true;

    /* History */
    disable-history: false;
    max-history-size: 25;

    /* Misc */
    click-to-exit: true;
}

/* Import launcher layout */
@import "launcher.rasi"
